<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>

    <!--
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.users.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    -->

    <!--Servlet For Editing User-->
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.job4j.platform.UserCreateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <!--Servlet for getting all users-->
    <servlet>
        <servlet-name>ListUsersServlet</servlet-name>
        <servlet-class>ru.job4j.platform.ListUsersServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListUsersServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <!--Servlet for search users-->
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>ru.job4j.platform.SearchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>



</web-app>