<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>

    <!--<filter>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<filter-class>ru.job4j.users.AuthFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<url-pattern>*</url-pattern>-->
    <!--</filter-mapping>-->

    <!-- ???????? ??????? -->
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <!--??????? ??? ?????? ? ?????????????? -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.crud.UserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <!-- ???????? ??? ??????? "1. ??????????? ?????????? ??? ?????? ? ?????????????. [#2513]" -->
    <!-- 1) ????????? ??????? ?? ????? ??????????????. ? ?????? ?????? ?????? ???? ??????? ? ???????? (?????????????, ???????)  -->
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.job4j.users.UsersServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <!-- 2) ????????? ????? ??? ???????? ?????? ???????????? (/create).
            http:POST - ????????? ????????????  -->
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.job4j.users.UserCreateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <!-- 3) ????????? ????? ??? ?????????????? ? ??????????? ??????. (/edit?id={userId} ).
            http:POST - ????????? ????????????  -->
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>ru.job4j.users.UserUpdateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <!---->

    <servlet>
        <servlet-name>UserAuth</servlet-name>
        <servlet-class>ru.job4j.users.UserAuthorization</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserAuth</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>


    <!--JSON Servlet-->
    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>ru.job4j.users.JsonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>


    <!--EXAMPLE-->
    <servlet>
        <servlet-name>ExampleServlet</servlet-name>
        <servlet-class>ru.job4j.users.ExampleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExampleServlet</servlet-name>
        <url-pattern>/example</url-pattern>
    </servlet-mapping>



</web-app>