<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>

    <!--Filter for control authorization-->
    <!--<filter>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<filter-class>ru.job4j.filters.AuthFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<url-pattern>*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--Servlet For Getting All Ads-->
    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.MainPageServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
</web-app>